<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Teams观看报告获取</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="static/assets/css/animate.min.css">
    <link rel="stylesheet" href="static/assets/css/button-materialize-materialize.min.css">
    <link rel="stylesheet" href="static/assets/css/button-materialize.css">
    <link rel="stylesheet" href="static/assets/css/Continue-Button.css">
    <link rel="stylesheet" href="static/assets/css/Form-Input.css">
    <link rel="stylesheet" href="static/assets/css/Google-Style-Text-Input.css">
    <link rel="stylesheet" href="static/assets/css/Material-Inputs-material-input.css">
    <link rel="stylesheet" href="static/assets/css/Material-Inputs-ripple.css">
    <link rel="stylesheet" href="static/assets/css/Material-Inputs-style.css">
    <link rel="stylesheet" href="static/assets/css/Material-Inputs-validation.css">
    <link rel="stylesheet" href="static/assets/css/Material-Inputs.css">
    <link rel="stylesheet" href="static/assets/css/Search-Input-Responsive-with-Icon.css">
</head>

<body>
    <div class="mb-3"><strong>Teams链接</strong>
    <form action = "/get" method = "get">
        <input class="form-control InputBorder" type = "text" name = "url" placeholder = "请输入你的Teams链接" style="border: 0;border-width: 0 0 1px 0;border-color: black;border-radius: 0;">
        <input class="btn btn-primary btn-sm text-truncate shadow-none float-end tenant-continue-btn" data-bss-hover-animate="pulse" type = "submit" value = "提交">
    </form>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/js/bs-init.js"></script>
</body>

</html>